* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.headerStyle, .footerStyle{
    background-color: dodgerblue;
}

.headerStyle {
    border-bottom: 3px solid skyblue;
}

.buttonStyle {
    height: 55px;
    line-height: 55px;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    border: 2px solid midnightblue;
}

.titleStyle{
    font-size: 2.5em;
    text-align: center;
}
